[Unit]
Description=Mount NFS share after VPN is up
After=network-online.target wg-quick@itove.service
Requires=wg-quick@itove.service
PartOf=wg-quick@itove.service

[Mount]
# /etc/hosts
# 10.5.9.11 remote
What=remote:/home/al/m
Where=/mnt/remote
Type=nfs
Options=ro,_netdev

[Install]
WantedBy=multi-user.target
