[Unit]
Description=Mount NFS share after VPN is up
After=network-online.target wg-quick@ai.service
Requires=wg-quick@ai.service
#Wants=network-online.target
#PartOf=wg-quick@ai.service

[Mount]
# /etc/hosts
# 10.5.9.11 remote
What=remote:/home/al/m
Where=/mnt/remote
Type=nfs
Options=rw,_netdev
#Options=ro,_netdev,x-systemd.mount-timeout=10
