[Unit]
Description=Mount NFS share after VPN is up
After=network-online.target wg-quick@itove.service
Before=wg-quick@itove.service
Requires=wg-quick@itove.service
Wants=wg-quick@itove.service
PartOf=wg-quick@itove.service

[Mount]
# /etc/hosts
# 10.5.9.11 remote
What=remote:/home/al/m
Where=/mnt/remote
Type=nfs
Options=rw,_netdev
#Options=ro,_netdev,x-systemd.mount-timeout=10

[Install]
WantedBy=multi-user.target
