[Unit]
Description=mouseless

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/mouseless --config /usr/local/etc/mouseless.yaml

[Install]
WantedBy=multi-user.target
