#!/bin/bash
# vim:ft=sh

# [ -f ~/.proxy ] && . ~/.proxy
# PROMPT_COMMAND=activate   # a function to activate python venv
# PROMPT_COMMAND=activate   # a function to activate python venv
# SCREENDIR=~/.screen   # for WSL issue: Cannot make directory '/run/screen': Permission denied
# TERM=xterm-256color # to fix screen 5.0.0 video

WG_INTERFACE=
IS_WORKSTATION=1
DOMAIN=

#MOUSE="pointer:Razer Razer Abyssus 1800"
MOUSE="pointer:COMPANY  USB Device "
# TOUCHPAD=
DICTIONARYAPI_KEY=
VPS=
PARIS_INSTANCE_ID=
MONITOR=DP-4
MONITOR_ROTATE=left
WIN_IP=192.168.122.231  # win guest ip
PROMPT_COMMAND=activate

VULTR_API_KEY=

MINIMAX_API_KEY=

QINIU_API_KEY=
OPENROUTER_API_KEY=
AIHUBMIX_API_KEY=

GEMINI_API_KEY=

# ANTHROPIC
ANTHROPIC_AUTH_TOKEN=
#ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=
API_TIMEOUT_MS=3000000
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
ANTHROPIC_MODEL=claude-4.5-sonnet
ANTHROPIC_SMALL_FAST_MODEL=claude-4.5-haiku
ANTHROPIC_DEFAULT_SONNET_MODEL=claude-4.5-sonnet
ANTHROPIC_DEFAULT_OPUS_MODEL=claude-4.5-opus
ANTHROPIC_DEFAULT_HAIKU_MODEL=claude-4.5-haiku

