Host *
    User username
    ServerAliveInterval 60
    #HostkeyAlgorithms +ssh-rsa
    #PubkeyAcceptedKeyTypes +ssh-rsa
Host 192.168.2.4
    Port 8022 # termux
Host github.com github.mydomain.com
    # github.mydomain.com only for adding github to list in function gen_ssh_keys_for_new_workstation
    IdentityFile ~/.ssh/github
Host myvps.com 10.5.6.1
    IdentityFile ~/.ssh/myvps
Host ai
    Hostname 127.0.0.100
    # Prot Only for: wstunnel client -L 'tcp://2222:localhost:22' wss://ai.zxaicc.com
    # then connect: ssh -p 2222 127.0.0.1
    #Port 2222 # no need for stdio://
    ProxyCommand wstunnel client -L stdio://%h:%p wss://ai.zxaicc.com
    IdentityFile ~/.ssh/ai
Host repo1.github
    Hostname github.com
    IdentityFile=~/.ssh/repo1_deploy_key
