[Desktop Entry]
# https://specifications.freedesktop.org/desktop-entry-spec/
Type=Application
Categories=Game
Version=1.0
Name=assassins_creed
GenericName=assassins_creed
TryExec=/home/al/.games/assassins_creed_4_black_flag/AC4BFSP.exe
Exec=env LANG=zh_CN.UTF8 systemd-inhibit --what=idle:sleep --why=Gaming wine /home/al/.games/assassins_creed_4_black_flag/AC4BFSP.exe
#Icon= /home/al/.local/share/icons/hicolor/24x24/apps/5298_World\ of\ Warcraft\ Launcher.0.png
Terminal=false
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/
