[Desktop Entry]
# https://specifications.freedesktop.org/desktop-entry-spec/
Type=Application
Categories=Game

Version=1.0
Name=cemu
GenericName=cemu
TryExec=/home/al/l/cemu
Exec=/home/al/l/cemu
Terminal=false
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/
