[Desktop Entry]
# https://specifications.freedesktop.org/desktop-entry-spec/
Type=Application
Categories=Game

Version=1.0
Name=ps2
GenericName=ps2
TryExec=/home/al/l/bin/ps2
Exec=/home/al/l/bin/ps2
Terminal=false
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/
