[Desktop Entry]
# https://specifications.freedesktop.org/desktop-entry-spec/
Type=Application
Categories=Game

Version=1.0
Name=ryujinx
GenericName=ryujinx
TryExec=/home/al/l/bin/ryujinx
Exec=/home/al/l/bin/ryujinx
Terminal=false
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/
