[Desktop Entry]
# https://specifications.freedesktop.org/desktop-entry-spec/
Type=Application
Categories=Game

Version=1.0
Name=赛尔达传说 zelda
Name[zh_CN]=赛尔达传说
#GenericName=zelda
Keywords=zelda;
TryExec=/home/al/l/cemu.AppImage
Exec=/home/al/l/cemu.AppImage -t 00050000101c9300 -a 80000001
Icon=/home/al/.local/share/Cemu/icons/00050000101c9400.png
Terminal=false
X-Desktop-File-Install-Version=0.27
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/
